body {
    background-image:repeating-radial-gradient(blue, violet);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height:100vh;
    width:100vw;
}

#anykey {
    height: 100px;
    width: 80%;
    font-family: cursive;
    font-size: 5em;
    letter-spacing: 1mm;
    word-spacing: 5mm;
    position: fixed;
    top: 40%;
    right: 200px;
    display: block;
}
#eventkey {
    height:200px;
    width: 200px;
    display:none;
    position: fixed;
    top: 500px;
    font-family: cursive;
    font-size: 2em;
    right: 1200px;
}
#eventcode {
    height:200px;
    width: 200px;
    display:none;
    position: fixed;
    top: 500px;
    font-family: cursive;
    font-size: 2em;
    right:800px;
}
#eventwhich {
    height:200px;
    width: 200px;
    display:none;
    position: fixed;
    top: 500px;
    font-family: cursive;
    font-size: 2em;
    right: 400px;
}

@media screen and (max-width: 480px) {
    #anykey {
        font-size: 1.5em;
        width: 80%;
        height: 10%;
        position:fixed;
        right: 30px;
        letter-spacing: none;
    }
    #eventkey, #eventwhich, #eventcode {
        top: 65%;
        height: 80px;
        width: 80px;
        font-size: 0.8em;
    }
    #eventwhich {
        right: 10%;
    }
    #eventkey {
        left: 10%;
    }
    #eventcode {
        right: 36%;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #anykey {
        font-size: 3.5em;
        width: 80%;
        height: 10%;
        position:fixed;
        left: 80px;
        letter-spacing: none;
    }
    #eventkey, #eventwhich, #eventcode {
        top: 65%;
        height: 80px;
        width: 80px;
        font-size: 1.4em;
    }
    #eventwhich {
        right: 10%;
    }
    #eventkey {
        left: 10%;
    }
    #eventcode {
        right: 46%;
    }
}
@media (min-width: 1025px) and (max-width: 1500px) {
    #anykey {
        font-size: 3.5em;
        width: 80%;
        height: 10%;
        position:fixed;
        left: 80px;
        letter-spacing: none;
    }
    #eventkey, #eventwhich, #eventcode {
        top: 65%;
        height: 80px;
        width: 80px;
        font-size: 1.8em;
    }
    #eventwhich {
        right: 10%;
    }
    #eventkey {
        left: 10%;
    }
    #eventcode {
        right: 48%;
    }
}